{% extends_admingenerated "NitraSlideshowBundle:SlideshowList:row.html.twig" %}
{% block list_td_column_image %}<img src="{{ Slideshow.image }}" style="max-height: 100px; max-width:100px;">{% endblock %}